<div class="container">
  <div class="row text-center">
    <div class="col-md">
      <h2>Failed to Send</h2>
      <h5 class="text-center">Something wrong with your message</h5>
      <a class="btn btn-primary" href="/contact" role="button">Contact Page</a>
    </div>
  </div>
</div>
