<div class="container">
  <div class="row justify-content-center mx-auto mt-4">
      <h1 class="text-center">Welcome to the Fasting Companion</h1> 
  </div>
<!--=== Start Features ===-->
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Why Start Fasting.<span class="text-muted"> It'll blow your mind.</span></h2>
          <p class="lead"> Caloric restriction has long been the focus of promising aging research and research into the amelioration of age-related diseases. Early findings illuminated the role of calorie restriction in modulating adaptive cytoprotective mechanisms that enhance metabolic response and reduce oxidative damage and inflammation – factors related to increased longevity and decreased risk of age-related disease.</p>
  
          <p class="lead">Research in animals has shown impressive results with studies in mice and rats showing chronic caloric restriction able to extend lifespan by up to 40%, showing the ability in some animal studies to virtually eliminate type 2 diabetes, and dramatically reduce cancer incidence. Similarly, increases in disease-free lifespan have also shown some promise in primate studies of caloric restriction as well.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src=".././images/plate.jpg" alt="plate image"/>
      </div>
    </div>
  
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-2">
        <h2 class="featurette-heading">Why you should start fasting. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Stem Cells, Autophagy, and Refeeding While on a FMD, organs shrink. When you refeed, they expand back to their normal size. We don’t know how much of this is a result of cells shrinking vs. the death of damaged cells Fasting causes cells that are preferentially damaged to be cleared away by apoptosis Damaged cell parts (DNA, mitochondria etc.) are also killed off Protein aggregates are also cleared away When damaged cells are cleared away, stem cells are then activated, which upon refeeding, are transformed into new/healthy cells This is how the FMD has the capability of reversing many autoimmune disorders</p> 
          <p class="lead">This generation of healthy cells is IGF-1 dependent, and is probably as important as the killing of damaged cells (which is low IGF-1 dependent), and the turning on of stem cells (also low IGF-1 dependent) During the refeeding phase, for this reason, you need to eat a sufficient amount of protein to raise IGF-1 levels Complete glycogen depletion takes about 30 hours or so of fasting (depending on activity levels) Chronic caloric restriction is missing the refeeding period – so organs/cells are never “rebuilt”/”reconstructed” “Maybe fasting represents the opportunity to ‘fix’ the inside” Think about it on a evolutionary scale – there were often periods, thousands of years ago, where food was just not available Now we eat all the time – we’ve lost this “auto-repair” mode</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src=".././images/Health.jpg" alt="health image"/>
      </div>
    </div>
  <hr class="featurette-divider">
    <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Are you ready to get started? <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">The path to a healthy you is in your hands.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src=".././images/run.jpg" alt="jogging image"/>
          </div>
    </div>
  <hr class="featurette-divider">
<!--=== End of the Featurette ===-->
</div>
